# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [2]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv(file_path)

# Display sample data
city_data_df.head(10)

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,Hobart,AU,-42.8794,147.3294,66.22,59,20,9.22,few clouds
1,Nikolskoye,RU,59.7035,30.7861,26.80,84,10,6.24,clear sky
2,Mecca,SA,21.4267,39.8261,76.12,72,0,3.58,clear sky
3,Sao Filipe,CV,14.8961,-24.4956,78.71,76,100,2.39,overcast clouds
4,Busselton,AU,-33.6500,115.3333,53.89,68,87,20.94,overcast clouds
5,Abony,HU,47.1899,20.0048,47.12,97,100,6.91,overcast clouds
6,Hasaki,JP,35.7333,140.8333,63.28,55,92,10.92,overcast clouds
7,Nome,US,64.5011,-165.4064,35.67,93,100,11.50,light rain
8,Punta Arenas,CL,-53.1500,-70.9167,50.11,57,20,17.27,few clouds
9,Ribeira Grande,PT,38.5167,-28.7000,56.77,71,17,5.99,few clouds

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [3]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is your desired minimum temperature for your trip? "))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is your desired maximum temperature for your trip? "))

What is your desired minimum temperature for your trip? 65
What is your desired maximum temperature for your trip? 88

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [4]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] >= min_temp) &
                                       (city_data_df["Max Temp"] <= max_temp)] 
                                    
# Display sample data
preferred_cities_df

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,Hobart,AU,-42.8794,147.3294,66.22,59,20,9.22,few clouds
2,Mecca,SA,21.4267,39.8261,76.12,72,0,3.58,clear sky
3,Sao Filipe,CV,14.8961,-24.4956,78.71,76,100,2.39,overcast clouds
16,Calamar,CO,10.2511,-74.9146,76.69,93,98,4.68,overcast clouds
17,Vila Velha,BR,-20.3297,-40.2925,73.35,81,75,13.00,broken clouds
...,...,...,...,...,...,...,...,...,...
653,Lahaina,US,20.8783,-156.6825,87.80,88,38,3.89,scattered clouds
655,Buchanan,LR,5.8808,-10.0467,76.98,86,62,2.86,broken clouds
656,Nata,PA,8.3333,-80.5167,76.87,92,100,3.60,moderate rain
661,Neuquen,AR,-38.9516,-68.0591,76.89,61,40,3.44,scattered clouds
662,Masuguru,TZ,-11.3667,38.4167,72.32,85,15,4.05,few clouds

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [5]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()

# Display sample data
clean_travel_cities

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,Hobart,AU,-42.8794,147.3294,66.22,59,20,9.22,few clouds
2,Mecca,SA,21.4267,39.8261,76.12,72,0,3.58,clear sky
3,Sao Filipe,CV,14.8961,-24.4956,78.71,76,100,2.39,overcast clouds
16,Calamar,CO,10.2511,-74.9146,76.69,93,98,4.68,overcast clouds
17,Vila Velha,BR,-20.3297,-40.2925,73.35,81,75,13.00,broken clouds
...,...,...,...,...,...,...,...,...,...
653,Lahaina,US,20.8783,-156.6825,87.80,88,38,3.89,scattered clouds
655,Buchanan,LR,5.8808,-10.0467,76.98,86,62,2.86,broken clouds
656,Nata,PA,8.3333,-80.5167,76.87,92,100,3.60,moderate rain
661,Neuquen,AR,-38.9516,-68.0591,76.89,61,40,3.44,scattered clouds
662,Masuguru,TZ,-11.3667,38.4167,72.32,85,15,4.05,few clouds

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [6]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# Display sample data
hotel_df

           City Country  Max Temp Current Description      Lat       Lng
0        Hobart      AU     66.22          few clouds -42.8794  147.3294
2         Mecca      SA     76.12           clear sky  21.4267   39.8261
3    Sao Filipe      CV     78.71     overcast clouds  14.8961  -24.4956
16      Calamar      CO     76.69     overcast clouds  10.2511  -74.9146
17   Vila Velha      BR     73.35       broken clouds -20.3297  -40.2925
..          ...     ...       ...                 ...      ...       ...
653     Lahaina      US     87.80    scattered clouds  20.8783 -156.6825
655    Buchanan      LR     76.98       broken clouds   5.8808  -10.0467
656        Nata      PA     76.87       moderate rain   8.3333  -80.5167
661     Neuquen      AR     76.89    scattered clouds -38.9516  -68.0591
662    Masuguru      TZ     72.32          few clouds -11.3667   38.4167

[280 rows x 6 columns]

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [8]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = " "

# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Hobart,AU,66.22,few clouds,-42.8794,147.3294,
2,Mecca,SA,76.12,clear sky,21.4267,39.8261,
3,Sao Filipe,CV,78.71,overcast clouds,14.8961,-24.4956,
16,Calamar,CO,76.69,overcast clouds,10.2511,-74.9146,
17,Vila Velha,BR,73.35,broken clouds,-20.3297,-40.2925,
22,Los Algarrobos,PA,77.41,few clouds,8.5000,-82.4333,
26,Mahanoro,MG,72.10,overcast clouds,-19.9000,48.8000,
27,Kapaa,US,82.38,clear sky,22.0752,-159.3190,
28,Rikitea,PF,70.05,moderate rain,-23.1203,-134.9692,
29,Ahipara,NZ,67.37,clear sky,-35.1667,173.1667,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [9]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [10]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [11]:
# Display sample data
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Hobart,AU,66.22,few clouds,-42.8794,147.3294,St Ives Hobart Accommodation Tasmania
2,Mecca,SA,76.12,clear sky,21.4267,39.8261,"Makkah Clock Royal Tower, A Fairmont Hotel"
3,Sao Filipe,CV,78.71,overcast clouds,14.8961,-24.4956,Hotel Xaguate
16,Calamar,CO,76.69,overcast clouds,10.2511,-74.9146,Hostal Katyalex
17,Vila Velha,BR,73.35,broken clouds,-20.3297,-40.2925,Hotel Vitória Palace
...,...,...,...,...,...,...,...
653,Lahaina,US,87.80,scattered clouds,20.8783,-156.6825,Lahaina Shores Beach Resort
655,Buchanan,LR,76.98,broken clouds,5.8808,-10.0467,Kamaneahn Hotel Inc
656,Nata,PA,76.87,moderate rain,8.3333,-80.5167,Rey David
661,Neuquen,AR,76.89,scattered clouds,-38.9516,-68.0591,Hotel del Comahue
662,Masuguru,TZ,72.32,few clouds,-11.3667,38.4167,

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [14]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()

# Display sample data
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Hobart,AU,66.22,few clouds,-42.8794,147.3294,St Ives Hobart Accommodation Tasmania
2,Mecca,SA,76.12,clear sky,21.4267,39.8261,"Makkah Clock Royal Tower, A Fairmont Hotel"
3,Sao Filipe,CV,78.71,overcast clouds,14.8961,-24.4956,Hotel Xaguate
16,Calamar,CO,76.69,overcast clouds,10.2511,-74.9146,Hostal Katyalex
17,Vila Velha,BR,73.35,broken clouds,-20.3297,-40.2925,Hotel Vitória Palace
...,...,...,...,...,...,...,...
653,Lahaina,US,87.80,scattered clouds,20.8783,-156.6825,Lahaina Shores Beach Resort
655,Buchanan,LR,76.98,broken clouds,5.8808,-10.0467,Kamaneahn Hotel Inc
656,Nata,PA,76.87,moderate rain,8.3333,-80.5167,Rey David
661,Neuquen,AR,76.89,scattered clouds,-38.9516,-68.0591,Hotel del Comahue
662,Masuguru,TZ,72.32,few clouds,-11.3667,38.4167,

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [ ]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [15]:
# Set the file name.
output_data_file = "weatherpy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file, index=False)

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [16]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [17]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>St Ives Hobart Accommodation Tasmania</dd>\n<dt>City</dt><dd>Hobart</dd>\n<dt>Country</dt><dd>AU</dd>\n<dt>Current Weather</dt><dd>few clouds and 66.22 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Makkah Clock Royal Tower, A Fairmont Hotel</dd>\n<dt>City</dt><dd>Mecca</dd>\n<dt>Country</dt><dd>SA</dd>\n<dt>Current Weather</dt><dd>clear sky and 76.12 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Xaguate</dd>\n<dt>City</dt><dd>Sao Filipe</dd>\n<dt>Country</dt><dd>CV</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 78.71 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hostal Katyalex</dd>\n<dt>City</dt><dd>Calamar</dd>\n<dt>Country</dt><dd>CO</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 76.69 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Vitória Palace</dd>\n<dt>City</dt><dd>Vila Velha</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Current Weather</dt><dd>broken clouds and 73.35 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Waterfall Hostel</dd>\n<dt>City</dt><dd>Los Algarrobos</dd>\n<dt>Country</dt><dd>PA</dd>\n<dt>Current Weather</dt><dd>few clouds and 77.41 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>BUNGALOW MAHAMANINA</dd>\n<dt>City</dt><dd>Mahanoro</dd>\n<dt>Country</dt><dd>MG</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 72.1 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Sheraton Kauai Coconut Beach Resort</dd>\n<dt>City</dt><dd>Kapaa</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>clear sky and 82.38 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>People ThankYou</dd>\n<dt>City</dt><dd>Rikitea</dd>\n<dt>Country</dt><dd>PF</dd>\n<dt>Current Weather</dt><dd>moderate rain and 70.05 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Ahipara Holiday Park</dd>\n<dt>City</dt><dd>Ahipara</dd>\n<dt>Country</dt><dd>NZ</dd>\n<dt>Current Weather</dt><dd>clear sky and 67.37 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [18]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
0  -42.8794  147.3294
2   21.4267   39.8261
3   14.8961  -24.4956
16  10.2511  -74.9146
17 -20.3297  -40.2925
22   8.5000  -82.4333
26 -19.9000   48.8000
27  22.0752 -159.3190
28 -23.1203 -134.9692
29 -35.1667  173.1667

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [21]:
# Create a figure to add the Google map as a layer
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)

# Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# Display the figure containing the map
fig

Figure(layout=FigureLayout(height='420px'))